<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3>Mi valor es [[prop2]]!</h3>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/1087/1087824.svg" class="col-lg-8 col-xs-12">
        <button class="btn-danger col-lg-4 col-xs-12" name="button" on-click="incrementar">Cargar datos</button>
        <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">
        <table>
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            </thead>
            <tbody>
              <tr>
                <td>[[prop2]]</td>
                <td>[[prop1]]</td>
                <td>Fuentes</td>
                <tbody>
                  <tr>
                  </tr>
                  <td>3</td>
                  <td>Selena</td>
                  <td>Mora</td>
                </tbody>
              </tr>
            </tbody>
            </th>

            </th>


          <th>

          </th>
        </table>
      </div>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
        },
        prop2: {
          type: Number,
          value: 999
      },
      prop3: {
        type: String,
        value: 'Indique su login'
      }
    };
  }

incrementar(){
  this.prop2 = this.prop2 + 1;
  console.log(this.prop1);
  console.log(this.prop2);
  }
}

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
